body {
	font-family: verdana, helvetica, arial, sans-serif;
	padding: 20px;
	font-size: 12px;
    font-family:'Microsoft YaHei';
	margin: 0;
}
h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-bottom: 15px;
}
.vbox{
    border:solid 1px #efefef;
    padding: 0px 10px 10px 10px;
    width:380px;
    min-height: 500px;
}

.tmpl-column .iitem{
    display:inline-block;
    width:24%;
    height:100px;
    line-height:100px;
    padding:10px;
}

.tmpl-column .iitem .iicon{
    margin:auto;
    width:50px;
    height:50px;
    line-height:50px;
    border-radius:50%;
    background-color:#f8f8f8;
}
.tmpl-column .iitem .itxt{
    margin:auto;
    width:50px;
    height:30px;
    line-height:30px;
    text-align:center;
}
.tmpl-column .iitem .iicon:hover{
    background-color:#eee;
}


.edit-vtmpl,.eletype,.eletypeattr,.expt{
    display: none;
}

.itmplitem{
    position:relative;
    margin-top: 10px;
    border:solid 0px #efefef;
}

.tmpl-banner,.tmpl-column,.tmpl-1, .tmpl-2, .tmpl-3, .tmpl-4, .tmpl-5, .tmpl-6{
    position:relative;
    display:inline-block;
    width:360px;
    height:100px;
    border:solid 1px #ccc;
    text-align:center;
}
.tmpl-banner-sm{
    position:relative;
    display:inline-block;
    width:360px;
    height:80px;
    line-height:80px;
    border:solid 1px #ccc;
    text-align:center;
}

.tmpl-banner .tmpl-banner-con, .tmpl-column .tmpl-column-con{
    display:inline-block;
    width:360px;
    height:100px;
    line-height:100px;
}
.tmpl-banner-sm .tmpl-banner-sm-con{
    display:inline-block;
    width:360px;
    height:80px;
    line-height:80px;
}
.tmpl-1 .tmpl-1-a{
    position: relative;
    display:inline-block;
    width:360px;
    height:100px;
    line-height:100px;
}

.tmpl-2 .tmpl-2-a{
    position: relative;
    display:inline-block;
    width:180px;
    height:100px;
    line-height:100px;
    border-right:solid 1px #ccc;
}
.tmpl-2 .tmpl-2-b{
    position: relative;
    display:inline-block;
    width:174px;
    height:100px;
    line-height:100px;
}
.tmpl-3 .tmpl-3-a{
    position:absolute;
    left:0;
    top:0;
    width:180px;
    height:100px;
    line-height:100px;
    border-right:solid 1px #ccc;
}

.tmpl-3 .tmpl-3-b{
    position:absolute;
    right:0;
    top:0;
    width:180px;
    height:50px;
    line-height:50px;
    border-bottom:solid 1px #ccc;
}
.tmpl-3 .tmpl-3-c{
    position:absolute;
    right:0;
    bottom:0;
    width:180px;
    height:50px;
    line-height:50px;
}

.tmpl-4 .tmpl-4-a{
    position:absolute;
    left:0;
    top:0;
    width:180px;
    height:50px;
    line-height:50px;
    border-bottom:solid 1px #ccc;
}

.tmpl-4 .tmpl-4-b{
    position:absolute;
    left:0;
    bottom:0;
    width:180px;
    height:50px;
    line-height:50px;
}
.tmpl-4 .tmpl-4-c{
    position:absolute;
    right:0;
    top:0;
    width:180px;
    height:100px;
    line-height:100px;
    border-left:solid 1px #ccc;
}

.tmpl-5 .tmpl-5-a{
    position:absolute;
    left:0;
    top:0;
    width:180px;
    height:100px;
    line-height:100px;
    border-right:solid 1px #ccc;
}

.tmpl-5 .tmpl-5-b{
    position:absolute;
    right:0;
    top:0;
    width:180px;
    height:50px;
    line-height:50px;
    border-bottom:solid 1px #ccc;
}
.tmpl-5 .tmpl-5-c{
    position:absolute;
    right:90px;
    bottom:0;
    width:90px;
    height:50px;
    line-height:50px;
    border-right:solid 1px #ccc;
}
.tmpl-5 .tmpl-5-d{
    position:absolute;
    right:0;
    bottom:0;
    width:90px;
    height:50px;
    line-height:50px;
}

.tmpl-6 .tmpl-6-a{
    position:absolute;
    left:0;
    top:0;
    width:180px;
    height:100px;
    line-height:100px;
    border-right:solid 1px #ccc;
}

.tmpl-6 .tmpl-6-b{
    position:absolute;
    right:90px;
    top:0;
    width:90px;
    height:50px;
    line-height:50px;
    border-right:solid 1px #ccc;
}
.tmpl-6 .tmpl-6-c{
    position:absolute;
    right:0px;
    top:0;
    width:90px;
    height:50px;
    line-height:50px;
}
.tmpl-6 .tmpl-6-d{
    position:absolute;
    right:0;
    bottom:0;
    width:180px;
    height:50px;
    line-height:50px;
    border-top:solid 1px #ccc;
}

.tmpl-7{
    position: relative;
    display:inline-block;
    width:360px;
    height:50px;
    line-height:50px;
    border:solid 1px #ccc;
    text-align:center;
}
.tmpl-7 .tmpl-7-a{
    position: relative;
    display:inline-block;
    width:86px;
    height:50px;
    line-height:50px;
    border-right:solid 1px #ccc;
}
.tmpl-7 .tmpl-7-b {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 50px;
    line-height: 50px;
    border-right:solid 1px #ccc;
}
.tmpl-7 .tmpl-7-c {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 50px;
    line-height: 50px;
    border-right:solid 1px #ccc;
}
.tmpl-7 .tmpl-7-d {
    position: relative;
    display: inline-block;
    width: 86px;
    height: 50px;
    line-height: 50px;
}

.tmpl-8{
    position: relative;
    display:inline-block;
    width:360px;
    height:75px;
    line-height:75px;
    border:solid 1px #ccc;
    text-align:center;
}
.tmpl-8 .tmpl-8-a{
    position: relative;
    display:inline-block;
    width:116px;
    height:75px;
    line-height:75px;
    border-right:solid 1px #ccc;
}
.tmpl-8 .tmpl-8-b {
    position: relative;
    display: inline-block;
    width: 116px;
    height: 75px;
    line-height: 75px;
    border-right:solid 1px #ccc;
}
.tmpl-8 .tmpl-8-c {
    position: relative;
    display: inline-block;
    width: 116px;
    height: 75px;
    line-height: 75px;
}
.tmpl-9{
    position: relative;
    display:inline-block;
    width:360px;
    height:40px;
    line-height:40px;
    border:solid 1px #ccc;
    text-align:center;
}
.tmpl-9 .tmpl-9-a{
    display:inline-block;
    width:360px;
    height:40px;
    line-height:40px;
}

.bglay{
    display: none;
    position:absolute;
    left: 0;
    top:0;
    height: 100%;
    width: 100%;
    border:solid 1px #efefef;
    opacity: 0.8;-moz-opacity: 0.8;filter:alpha(opacity=80);
    background-color: #f8f8f8;
    text-align: center;
}
.bglay span{
    border:solid 1px #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    margin-left: 10px;
}
.bglayshow{
    display: inline-block;
}

.iactive{
    background-color: #f8f8f8;
}

.chkcity label{
    padding: 5px 15px;
    font-size: 16px;
}
#areaName{
    padding: 10px 0;
}
#areaName span{
    padding: 5px 5px 5px 0;
}
.iimage{
    max-width: 200px;
}
.infotips{
    padding-left: 10px;
    color: #f00;
}
.rowactive{
    background-color: #F9F9F9;
}
.rowonline{
    color: #ff0000;
}
